<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>examenfinal</title>
  </head>
  <body>
    <center>
	  		<header>
	  			<h2>Registro de notas</h2>
	  		</header>
	  		<nav role="navigation">
				<span><a href="/">Inicio</a></span>
				<span><a href="/registroNota">Registrar Nota</a></span>
			</nav>
			<section>
			   <%- body %>
			</section>
  </center>
  </body>
</html>
