<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RECLAMOS</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <div class="container">
      <div id="branding">
        <h1 class="highlight">Registro de Reclamos</h1>
      </div>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="../registroReclamo">Registrar Reclamo</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section id="showcase">
    <%- body %>
  </section>
  <footer>
    <a href="#">Contactenos</a>
  </footer>
</body>
